In [50]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

In [87]:
def obtener_fecha(df):
    df['fecha'] = pd.to_datetime(df['validTimeLocal'], utc=True)
    df = df.sort_values(by=['fecha'])
    return df

In [88]:
def descomponer_fecha(df):
    df['hora'] = df['fecha'].dt.hour
    df['dia'] = df['fecha'].dt.day
    df['mes'] = df['fecha'].dt.month
    df['anio'] = df['fecha'].dt.year
    return df

In [89]:
def obtener_columnas_relevantes(df):
    df = df.rename(columns={'temperature': 'temp', 
                            'temperatureDewPoint': 'dewPt', 
                            'temperatureHeatIndex':'heat_index', 
                            'relativeHumidity':'rh', 
                            'pressureMeanSeaLevel':'pressure', 
                            'visibility':'vis', 
                            'temperatureWindChill':'wc', 
                            'temperatureFeelsLike':'feels_like',
                            'uvIndex':'uv_index',
                            'validTimeUtc': 'valid_time_gmt'})
    df = df[['hora', 'dia', 'mes', 'anio', 'temp', 'dewPt', 'heat_index', 'rh', 'pressure', 'vis', 'wc', 'feels_like', 'uv_index', 'valid_time_gmt', 'windDirectionCardinal']]
    return df

In [90]:
def preprocess(data, fecha_pred):
    data = obtener_fecha(data)
    df['antelacion'] = (pd.to_datetime(df['fecha']) - fecha_pred).dt.total_seconds() // 3600
    data = descomponer_fecha(data)
    data = obtener_columnas_relevantes(data)
    return data

In [91]:
data = pd.read_json(r"D:\Users\Mario\Downloads\AA\15day_14_02052024_v2.json")
data

,cloudCover,dayOfWeek,dayOrNight,expirationTimeUtc,iconCode,iconCodeExtend,precipChance,precipType,pressureMeanSeaLevel,qpf,...,validTimeLocal,validTimeUtc,visibility,windDirection,windDirectionCardinal,windGust,windSpeed,wxPhraseLong,wxPhraseShort,wxSeverity
0,100,Thursday,D,1714650508,12,1200,92,rain,29.67,0.04,...,2024-05-02T13:00:00+0100,1714651200,5.0,301,WNW,18.0,11,Rain,Rain,1
1,100,Thursday,D,1714650508,12,1200,88,rain,29.67,0.05,...,2024-05-02T14:00:00+0100,1714654800,5.0,286,WNW,17.0,10,Rain,Rain,1
2,100,Thursday,D,1714650508,12,1200,76,rain,29.67,0.02,...,2024-05-02T15:00:00+0100,1714658400,5.0,278,W,NaN,10,Rain,Rain,1
3,100,Thursday,D,1714650508,12,1200,70,rain,29.67,0.02,...,2024-05-02T16:00:00+0100,1714662000,4.0,275,W,17.0,11,Rain,Rain,1
4,97,Thursday,D,1714650508,11,1100,47,rain,29.67,0.02,...,2024-05-02T17:00:00+0100,1714665600,5.0,279,W,17.0,10,Showers,Showers,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,67,Friday,D,1714651166,11,1100,43,rain,29.91,0.00,...,2024-05-17T08:00:00+0100,1715929200,7.0,275,W,NaN,9,Showers,Showers,1
356,68,Friday,D,1714651166,11,1100,42,rain,29.91,0.00,...,2024-05-17T09:00:00+0100,1715932800,7.0,265,W,NaN,9,Showers,Showers,1
357,70,Friday,D,1714651166,11,1100,41,rain,29.91,0.01,...,2024-05-17T10:00:00+0100,1715936400,7.0,259,W,NaN,10,Showers,Showers,1
358,71,Friday,D,1714651166,11,1100,39,rain,29.91,0.01,...,2024-05-17T11:00:00+0100,1715940000,7.0,228,SW,NaN,10,Showers,Showers,1
359,72,Friday,D,1714651166,11,1100,38,rain,29.91,0.01,...,2024-05-17T12:00:00+0100,1715943600,7.0,210,SSW,NaN,11,Showers,Showers,1

In [84]:
dirName = 'secundaria-raw'
directory = os.fsencode(dirName)
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    data = preprocess(data,fecha = datetime.strptime(filename.replace('h', ''), '%H_%d_%m_%Y.json'))
    data

                        fecha
0   2024-05-02 12:00:00+00:00
1   2024-05-02 13:00:00+00:00
2   2024-05-02 14:00:00+00:00
3   2024-05-02 15:00:00+00:00
4   2024-05-02 16:00:00+00:00
..                        ...
355 2024-05-17 07:00:00+00:00
356 2024-05-17 08:00:00+00:00
357 2024-05-17 09:00:00+00:00
358 2024-05-17 10:00:00+00:00
359 2024-05-17 11:00:00+00:00

[360 rows x 1 columns]